"""
A solution should include:
    1. Benchmark network;
    2. get_actions() method;
    3. get_states() method.
"""

# Specify benchmark network below.
BENCHMARK = ""  # Benchmark name goes here...


# Specify get_action() method below.
def get_actions(state):
    # get_actions() code goes here...
    return


# Specify get_state() method below.
def get_states(env, **kwargs):
    # get_states() code goes here...
    return
