[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */scripts/*
    */setup.py
    *rllab*
    */flow/utils/shflags
    *dummy_server.py
    *aimsun.py
    *aimsun/run.py
    *aimsun/api.py
    *aimsun/generate.py
    *aimsun/load.py

exclude_lines =
    if __name__ == .__main__.:
    raise NotImplementedError
    def policy_mapping_fn*
