[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */setup.py
    *rllab*
    *dummy_server.py

exclude_lines =
    if __name__ == .__main__.:
    raise NotImplementedError
