language: python

cache: pip

python:
  - "3.5"

os: linux

dist: xenial
<<<<<<< HEAD
=======

services:
  - xvfb
>>>>>>> 47f04157923be2aaf95a1246a8a92a73e15506ef

sudo: required

git:
  depth: 1

before_install:
  # install and run pep8 and docstyle tests
  - pip install pydocstyle
  - pydocstyle --convention numpy
  - pip install flake8
  - flake8 --version
  - flake8 --show-source

  # Setup conda (needed for opencv, ray dependency)
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export TEST_FLAG="True"

  # Set up requirements for flow
  - conda env create -f environment.yml
  - source activate flow

  # [sumo] dependencies and binaries
  - pushd $HOME/build/flow-project
<<<<<<< HEAD
  -     ./flow/scripts/setup_sumo_ubuntu.sh
=======
  -     ./flow/scripts/setup_sumo_ubuntu1604.sh
>>>>>>> 47f04157923be2aaf95a1246a8a92a73e15506ef
  - popd
  - source ~/.bashrc

  # [aimsun] install the conda env and update the path to the env
  - pushd $HOME/build/flow-project
  -     ./flow/scripts/setup_aimsun.sh
  - popd
  - source ~/.bashrc
  - sed -i 's/\/path\/to\/envs\/aimsun_flow/\/home\/travis\/miniconda\/envs\/aimsun_flow/g' flow/config.py

  - ls ../

install:
  - sudo apt update
  - sudo apt install -y freeglut3-dev libgl1-mesa-dev libglu1-mesa-dev
  - pip install -e .
  - pip install coveralls
  - pip install jupyter

script:
  - nose2 --with-coverage

after_success:
  - coveralls
