gym==0.18.0
numpy==1.18.5
lxml==4.4.1
pyprind==2.11.2
nose2==0.8.0
six==1.11.0
path.py
python-dateutil
joblib
cached_property
pyglet
matplotlib==3.1.0
ray
imutils==0.5.1
numpydoc
opencv-python
setproctitle
psutil
plotly
pytz
